.header_container {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.masthead .dropdown-menu {
    width: 100%;
}



.axis-label {
    font: 15px sans-serif;
    font-weight: bold;
}

.axis path,
.axis line {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

 path {
    stroke-width: 1;
    fill: none;
}

.tooltip1 {
        text-align: left;
        padding: 10px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
}

#main_vis {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;

}

.main_row {

    margin-left: 0px;
    margin-right: 0px;
}

