/* General Stuff */
body {
    padding-top: 50px;
    min-height: 1000px;
}

.header_container {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Navigation Stuff */
.masthead .dropdown-menu {
    width: 100%;
}

.navbar-custom {
    background-color: rgba(245, 245, 245, 0.8);
}


.axis-label {
    font: 15px sans-serif;
    font-weight: bold;
}

.axis path,
.axis line {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

 path {
    stroke-width: 1;
    fill: none;
}

.tooltip1 {
        text-align: left;
        padding: 10px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
}

#main_vis {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;

}

.main_row {

    margin-left: 0px;
    margin-right: 0px;
}

#left_panel {
    background-color: rgba(115, 20, 35, 0.8);
    height: 100%;
    position: fixed;
}

#center_panel {
    margin: auto;
    float: center;
}

#right_panel {

}

